body{
    background-color: azure;
}
#weather-details{
    background-color: blanchedalmond;
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px  35px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}
.search-form{
    margin-top: 10px;
    align-items: flex-start;
}
#searchInput{
border: none;
background-color: azure;
padding: 10px 25px;
border-radius: 30px; 
margin-right: 3px;
}
#button{
    background-color: rgb(194, 243, 243);
    color: black;
    border-radius: 60px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;  
}
.weather-info{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: -3px;
}
#details{
    margin-top: 80px;
}
#temperature{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-weight: 900;
    font-size: 70px;
    margin-bottom: 50px;
margin: 30px auto 300px auto;
}
footer{
    margin-top: 30px;
    font-size: 12px;
}
#icon{
    font-size: 40px;
}
.humidity{
    color: red;
    font-weight: 700;
}
.speed{
    color:red ;
    font-weight: 700;
}