body{
    background-color: azure;
}
#weather-details{
    background-color: rgb(168, 190, 169);
    width: 90%;
    max-width: 470px;
    margin: 100px auto 100px auto;
    border-radius: 20px;
    padding: 100px 80px 100px 80px;
}
h1{
    font-family: Arial Black, Helvetica, sans-serif;
    font-weight: 700;
    margin-top: 50px;
}
.search-form{
    margin-top: 10px;
    align-items: flex-start;
}
#searchInput{
border: none;
background-color: azure;
padding: 10px 25px;
border-radius: 30px; 
margin-right: 3px;
}
#button{
    background-color: rgb(194, 243, 243);
    color: black;
    border-radius: 60px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;  
}
.weather-info{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: -3px;
}
#details{
    margin-bottom: 10px;
}
#icon{
    width: 40px;
    margin-top: -70px;
    
}
#temperature{
     font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 70px;
margin-top: -70px;
}
footer{
    margin-top: -150px;
    font-size: 12px;
    text-align: center;
}
#icon{
    font-size: 40px;
}
.humidity{
    color: red;
    font-weight: 700;
}
.speed{
    color:red ;
    font-weight: 700;
}